@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: radial-gradient(111.14% 117.16% at 16.61% 0%, #001062 0%, #000626 100%);
    --card-bg: rgb(13, 17, 28);
    --text-light: linear-gradient(180deg, #f4f5f7 6.58%, #c8d0e7 81.58%);
    --text-dark: linear-gradient(180deg, #001062 0%, #000626 100%);
    --btn-dark: #00041b;
    --padding-screen: max(50px, calc((100vw - 1440px + 50px) / 2));
  }

  @media screen(sm) {
    :root {
      --padding-screen: 20px;
    }
  }
}

@layer components {
  .scroll-table {
    @apply relative max-h-none py-0 mt-8 mb-8 w-full max-w-[1000px]
  }
  .scroll-table::-webkit-scrollbar {
    @apply w-[10px] h-[10px]
  }
  .scroll-table::-webkit-scrollbar-track {
    @apply rounded-lg bg-dark-primary-15
  }
  .scroll-table::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-primary-light-15
  }

  @media screen(xl) {
    .scroll-table {
      @apply block overflow-y-scroll mb-0;
      max-height: calc(100vh - (3rem + 60px));
      max-height: calc(100dvh - (3rem + 60px));
    }
  }

  @media screen(lg) {
    .scroll-table {
      @apply overflow-x-scroll
    }
    .scroll-table > div {
      @apply min-w-[622px]
    }
  }

  @media screen(md) {
    .scroll-table {
      max-height: calc(100vh - (3rem + 60px + 3rem));
      max-height: calc(100dvh - (3rem + 60px + 3rem));
    }
  }
}

@layer components {
  .grid-child:nth-child(1) {
    grid-column: 1 / 5;
  }
  .grid-child:nth-child(2) {
    grid-column: 5 / 7;
  }
  .grid-child:nth-child(3) {
    grid-column: 7 / 9;
  }
  .grid-child:nth-child(4) {
    grid-column: 9 / 11;
  }
  .grid-child:nth-child(5) {
    grid-column: 11 / 13;
  }
}

@layer components {
  .avatar {
    height: var(--height-desktop);
    @apply rounded-full transition-all aspect-square bg-no-repeat bg-contain bg-center
  }

  @media screen(md) {
    .avatar {
      height: var(--height-mobile);
    }
  }
}

@layer utilities {
  .grad-light {
    background: linear-gradient(180deg, theme("colors.off-white") 6.58%, theme("colors.dark-white") 81.58%);
  }
  .text-grad {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .dim {
    @apply transition-opacity
  }
  .dim:not(:disabled):hover,
  .dim:not(:disabled):focus-visible,
  .dim:not(:disabled):active {
    @apply opacity-hover
  }
}

@layer utilities {
  .conic {
    background: conic-gradient(theme("colors.white"), theme("colors.transparent"));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    @apply aspect-square z-0 p-[3px] rounded-full
  }
}

@layer utilities {
  .focus-border {
    @apply border-solid border border-transparent transition-all focus-visible:border-gray-200/20 focus-visible:outline-none
  }
}

dialog::backdrop {
  background: rbga(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media screen(xs) {
  html {
    font-size: 14px;
  }
}
