.home_holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 30px;
}

.button_wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.button_wrapper div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.stats_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.stat {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.25s ease-in-out;
}

.stat:hover {
  filter: brightness(1.4);
}

@media screen and (max-width: 1074px) {
  .stats_grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 730px) {
  .home_holder {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .stats_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 497px) {
  .stats_grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}